body {
	margin-left: 1rem;
	background-color: #333;
}

.image-gallery {
		width: 30rem;
		background-color: #444;
		padding: 1rem;

	.custom-gallery-item {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		position: relative;

		img {
			width: 20rem;
		}
		.image-description {
			margin-top: 10px;
			font-style: italic;
			position: absolute;
			color: red;
			font-size: 4rem;
		}
	}
}